<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício Angular 01</title>
    
</head>
<body>
    <div class="container">
        <h1>Exercício Angular 01</h1>
        <p class="data-info"><strong>Data de entrega:</strong> 23/03/2025 às 00:00</p>
        <p class="data-info"><strong>Aluno:</strong> Arthur Roberto Buch Marques</p>
        <p class="data-info"><strong>Professor:</strong> Wellington</p>
    </div>
</body>
</html>
